WebContent/wsdl/TopDownApp.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://applicationLayer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TopDownApp"
	targetNamespace="http://applicationLayer">
  <wsdl:types>
    <xsd:schema targetNamespace="http://applicationLayer">
      <xsd:element name="bookTicket">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="creditCard" type="xsd:string"/>
            <xsd:element name="flightNum" type="xsd:integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="bookTicketResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bookingNum" type="xsd:integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="issueTicket">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bookingNum" type="xsd:integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="issueTicketResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ticketNum" type="xsd:integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="bookTicketRequest">
    <wsdl:part element="tns:bookTicket" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="bookTicketResponse">
    <wsdl:part element="tns:bookTicketResponse" name="parameters"/>
  </wsdl:message>
  
    <wsdl:message name="issueTicketRequest">
    <wsdl:part element="tns:issueTicket" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="issueTicketResponse">
    <wsdl:part element="tns:issueTicketResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="TopDownApp">
    <wsdl:operation name="bookTicket">
      <wsdl:input message="tns:bookTicketRequest" name="bookTicketRequest"/>
      <wsdl:output message="tns:bookTicketResponse" name="bookTicketResponse"/>
    </wsdl:operation>
    <wsdl:operation name="issueTicket">
      <wsdl:input message="tns:issueTicketRequest" name="issueTicketRequest"/>
      <wsdl:output message="tns:issueTicketResponse" name="issueTicketResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="TopDownAppSOAP" type="tns:TopDownApp">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bookTicket">
      <soap:operation soapAction=""/>
      <wsdl:input name="bookTicketRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bookTicketResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="issueTicket">
      <soap:operation soapAction=""/>
      <wsdl:input name="issueTicketRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="issueTicketResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="TopDownApp">
    <wsdl:port binding="tns:TopDownAppSOAP" name="TopDownAppSOAP">
      <soap:address location="http://localhost:8080/FlightReservationSystem/services/TopDownApp"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>